.deps
.dirstamp
Makefile
autom4te.cache
autoscan.log
config.h
*~
config.*
file
cbd-client.8
cbd-server.1
stamp-h.in
stamp-h1
Doxyfile
compile
manpage.refs
manpage.links
mkinstalldirs
cbd-tester-client
cbd-client
cbd-server
doc/doxygen-output
cbd-server.config
cbd-server.5
cbd-trdump.1
cbdtab.5
*.o
cbd-client.8.in
cbd-server.1.in
cbd-server.5.in
cbd-trdump.1.in
cbdtab.5.in
Makefile.in
config.h.in
aclocal.m4
INSTALL
depcomp
install-sh
configure
man/*.sh
man/*.sh.in
man/manpage.log
make-integrityhuge
cbd-trdump
missing
libtool
*.lo
ltmain.sh
.libs/
*.la
support/lt*
support/libtool.m4
ar-lib
tests/run/cliserv.c
tests/run/crypto-gnutls.c
tests/run/buffer.c
.debhelper
*debhelper.log
build/
/package/*/changelog
