SUBSYSTEM!="block", GOTO="cloudbd_end"
KERNEL!="nbd*", GOTO="cloudbd_end"
ACTION=="remove", GOTO="cloudbd_end"

# watch causes change actions to fire by tools closing the device node after opening with write permissions
OPTIONS+="watch"

# pid file missing from /sys/block/nbd*/pid means device is NOT connected
TEST!="pid", ENV{SYSTEMD_READY}="0", GOTO="cloudbd_end"
TEST=="$runstatedir/cloudbd/%k.stopping", GOTO="cloudbd_end"

# import cloudbd udev vars
IMPORT{file}="$runstatedir/cloudbd/\$name.udev"
ENV{CBD_DEVICE}!="?*", GOTO="cloudbd_end"

# check client and server pids
PROGRAM="/bin/cat %S/block/%k/pid", ENV{CBD_CLIENT_PID}="%c"
PROGRAM="/bin/cat /var/run/cloudbd/%E{CBD_REMOTE}:%E{CBD_DEVICE}.pid", ENV{CBD_SERVER_PID}="%c"
ENV{CBD_CLIENT_PID}=="?*", ENV{CBD_SERVER_PID}=="?*", PROGRAM="/bin/kill -0 %E{CBD_CLIENT_PID} %E{CBD_SERVER_PID}", GOTO="cloudbd_active"
ENV{SYSTEMD_READY}="0", GOTO="cloudbd_end"

# device is active, set ATTRS, start dm if needed
LABEL="cloudbd_active"
ATTR{queue/max_sectors_kb}="1024", ATTR{queue/nr_requests}="128"

# if dm is not created, start it
PROGRAM="/sbin/dmsetup info %E{CBD_REMOTE}:%E{CBD_DEVICE}", GOTO="cloudbd_end"
RUN{program}+="cbd_dmsetup %k %E{CBD_REMOTE}:%E{CBD_DEVICE} %E{CBD_UUID} %E{CBD_SIZE} %E{CBD_BLOCKSIZE} %E{CBD_READAHEAD}"

# end
LABEL="cloudbd_end"
