# Amazon S3 - Sample storage remote config file
# See https://www.cloudbd.io/docs/gs-setup-remote-aws.html for more info.

# Remote Type
# Defines the type of auth for this remote. For AWS S3 only v4 auth is
# supported.
type = s3_v4

# Endpoint and Region
# We recommend using the HTTP protocol for S3 endpoint URLs when attaching
# CloudBD disks on AWS EC2 instances and using the HTTPS protocol when
# attaching disks to S3 from servers located outside of AWS. Buckets must
# be created in the same region as the EC2 instances using the disks.
#
# See https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region for
# more info on S3 endpoint URLs and region names
#
# endpoint_url and region for US East (Ohio):
endpoint_url = http://s3.us-east-2.amazonaws.com
region = us-east-2

# Bucket
# The storage remote's S3 bucket
bucket = sample-bucket.mycompany.com

# IAM User
# The driver requires an AWS IAM access key id and secret key with permission
# to read and write to the storage remote's S3 bucket.
access_key_id = AKIAIOSFODNN7EXAMPLE
secret_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
