#!/bin/sh

if [ "\$#" -ne 5 ]; then
    >&2 echo "\$0 error: not enough arguments"
    >&2 echo "\$0 usage: cloudbd_dmsetup <nbd> <remote:disk> <uuid> <size> <blocksize>"
    exit 1
fi

NBD=\$1
CBD=\$2
UUID=\$3
SIZE=\$4
BS=\$5

if ! expr "x\$NBD" : 'xnbd[[:digit:]]\+\$' >/dev/null; then
    >&2 echo "\$0 error: invalid <nbd> parameter"
    >&2 echo "\$0 usage: cloudbd_dmsetup <nbd> <remote:disk> <uuid> <size> <blocksize>"
    exit 1
fi

if ! expr "x\$CBD" : 'x[[:alnum:]_-]\+:[[:alnum:]_-]\+\$' >/dev/null; then
    >&2 echo "\$0 error: invalid <remote:disk> parameter"
    >&2 echo "\$0 usage: cloudbd_dmsetup <nbd> <remote:disk> <uuid> <size> <blocksize>"
    exit 1
fi

DM_SIZE=\$(( (\$SIZE - \$BS) / 512 ))
DM_OFFSET=\$(( \$BS / 512 ))

if [ ! -b "/dev/mapper/\$CBD" ]; then
    /sbin/dmsetup create "\$CBD" -u "cbd-\$NBD-\$UUID" --table "0 \$DM_SIZE linear /dev/\$NBD \$DM_OFFSET" || exit \$?
fi

exit 0
