[Unit]
Description=CloudBD Disk %i
Documentation=man:cbdtab(5)
SourcePath=@sysconfdir@/cloudbd/cbdtab
DefaultDependencies=no
Requires=network-online.target
Wants=remote-fs-pre.target
After=network-online.target local-fs.target cbdsetup-pre.target
Before=remote-fs-pre.target cbdsetup.target

[Service]
Type=forking
ExecStart=@systemdutildir@/systemd-cbdsetup %i
ExecStop=@sbindir@/cbddisks_stop -f %i
LimitMEMLOCK=infinity
PIDFile=@localstatedir@/run/cloudbd/%i.pid
