[Unit]
Description=CloudBD Disk %i
Documentation=man:cbdtab(5)
SourcePath=@sysconfdir@/cloudbd/cbdtab
DefaultDependencies=no
Requires=network-online.target
Wants=remote-fs-pre.target
After=network-online.target local-fs.target cbdsetup-pre.target blk-availability.service
Before=remote-fs-pre.target cbdsetup.target

[Service]
Type=forking
ExecStart=@systemdutildir@/systemd-cbdsetup start %i
ExecStop=@systemdutildir@/systemd-cbdsetup stop %i
ExecStopPost=@systemdutildir@/systemd-cbdsetup cleanup %i
LimitMEMLOCK=infinity
OOMScoreAdjust=-250
PIDFile=@localstatedir@/run/cloudbd/%i.pid
