[Unit]
Description=CloudBD Disk %I
Documentation=man:cbdtab(5) man:cbdsetup-generator(8) man:cbdsetup@.service(8)
SourcePath=@sysconfdir@/cloudbd/cbdtab
DefaultDependencies=no
Requires=network-online.target local-fs.target
After=network-online.target local-fs.target cbdsetup-pre.target nbd-client.service
Wants=remote-fs-pre.target
Before=remote-fs-pre.target cbdsetup.target
Conflicts=umount.target

[Service]
Type=forking
ExecStart=@sbindir@/cbddisks_start %I
ExecStop=@sbindir@/cbddisks_stop -f %I

