# OpenStack Keystone v2 - Sample storage remote config file
# See https://www.cloudbd.io/docs/gs-setup-remote-openstack.html for more info.

# Remote Type
# Defines the type of auth for this remote. CloudBD supports several OpenStack
# auth types. For Keystone v2 auth use type = swift_v2.
type = swift_v2

# Auth URL
# The Keystone v2 identity service URL.
auth_url = http://keystone:5000/v2.0

# Storage Location
# Containers belong to a tenant.
tenant = cloudbd
container = sample-container

# Credentials
# The credentials for a user with swift operator access to the tenant.
user = cloudbd
password = 12345

# Region
# The region is optional and will use the first storage endpoint returned if
# not set. If more than 1 region exists for your Swift storage deployment this
# should be set to the closest region.
# region = RegionOne
