#!/bin/sh

prefix=@prefix@
exec_prefix=@exec_prefix@
sysconfdir=@sysconfdir@
libdir=$prefix/lib
bindir=@bindir@
sbindir=@sbindir@
localstatedir=@localstatedir@
runstatedir=@runstatedir@
systemdunit=$prefix/@systemdunitdir@

cat <<EOF
