#!/bin/bash

. $libdir/cbdsetup/cbdsetup.functions

case \$1 in
start)
        FORCE_START="yes"
        do_start "\$2"
        exit \$?
        ;;
stop)
        FORCE_STOP="yes"
        do_stop "\$2"
        exit \$?
        ;;
*)
        echo "Unrecognized command '\$1'" 1>&2
        exit 1
        ;;
esac


